@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


/*fica bacana se padronizarmos as medidas, REM pode ser uma boa! pois, se alterarmos a fonte no navegador, ele também irá se adequar*/
/*REM - PX : 1 REM --> 16 PX - relativo ao TAMANHO DA FONTE DA raiz(ROOT)*/

/*para fazer uma VARIÁVEL GLOBAL (root) -> DECLARE A VARIÁVEL COM UM "var()"*/
:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-do-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.cabecalho{
    padding: 2% 0 0 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px; /*para que sempre haja um espaço entre os elementos-filhos*/
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column; /*para poder colocar as coisas em vertical*/
    align-items: center; /*para centralizar os elementos na vertical*/
    justify-content: space-between;
    gap: 32px; /*para dar um espaço entre os itens*/
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;    
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria); /*solid tem haver com o tracejado ou outra coisa*/
    width: 50%;
    text-align: center;
    border-radius: 8px; /*deixa o botão mais redondo ou mais quadrado*/
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

/*para que o botão faça uma estilização no momento da interação*/
.apresentacao__links__link:hover {
    background-color: var(--cor-do-hover);
    padding: 4%;
}

.apresentacao__imagem{
    width: 50%; /*tamanho da imagem*/
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/*até a dimensão de 1200px, a página será estilizada de tal forma...*/
@media(max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo{
        width: auto;
    }

}